/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700 */

.oswald-light {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.card {
  background-color:lightpink;
  margin: 20px;
  color: brown;
}
.body {
font-family: Helvetica, sans-serif;
}